
<form method="post">
  <table class="table table-bordered">
    <tr>
      <th>STT</th>
      <th>Name</th>
      <th>Email</th>
      <th>Chọn</th>
    </tr>
    <% students?.forEach((e,index) => { %> <%if(!e.Student_class){%>
    <tr>
      <td><%=index+1 %></td>
      <td><%= e.name %></td>
      <td><%= e.email %></td>
      <td>
        <input type="checkbox" value="<%=e.id %>" name="studentId" />
      </td>
    </tr>
    <% } %> <% }); %>
  </table>
  <button class="btn btn-success" type="submit">Thêm học viên</button>
</form>
