<h1>Xóa giảng viên khỏi lớp học</h1>

<form method="post">
  <table class="table table-bordered">
    <tr>
      <th>STT</th>
      <th>Name</th>
      <th>Email</th>
      <th>Chọn</th>
    </tr>
    <% teachers?.forEach((e,index) => { %> <% if(e.Classes.length){ %> <%
    e.Classes.forEach(element => {%> <% if(element.id === +id){%>
    <tr>
      <td><%=index+1 %></td>
      <td><%= e.name %></td>
      <td><%= e.email %></td>
      <td>
        <input type="checkbox" value="<%=e.id %>" name="studentId" />
      </td>
    </tr>
    <%} %> <%}); %> <% } %><% }); %>
  </table>
  <button class="btn btn-danger" type="submit">Xóa học viên</button>
</form>
