<style>
    body {
      background-image: url("../../../assets/img/photo4.jpg");
    }
  </style>
  <div class="">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
      
      <div class="card-body">
        <p class="login-box-msg">Enter code</p>
        <label class="text-danger"><%= message %></label>
        <form method="post">
          <div class="input-group mb-3">
            <input
              type="text"
              name="otp"
              class="form-control"
              placeholder="otp"
            />
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8"></div>
            <div class="col-4">
              <button type="submit" class="btn btn-primary btn-block">
                Submid
              </button>
            </div>
          </div>
        </form>
        
        <!-- /.social-auth-links -->
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.login-box -->
  
