<% if (message?.length) { %>
<div class="alert alert-danger"><%= message %></div>
<% } %>
<% if (success?.length) { %>
  <div class="alert alert-success"><%= success %></div>
  <% } %>
<form action="" method="post">
  <div class="mb-3">
    <label for="">Tên</label>
    <input type="text" name="name" value="<%=admin.name  %>" class="form-control" />
    <span class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label for="">Email</label>
    <input
      type="text"
      name="email"
      value="<%=admin.email  %>"
      class="form-control"
    />
    <span class="text-danger"></span>
  </div>
  <div class="mb-3">
    <label for="">Mật khẩu</label>
    <input
      type="text"
      name="password"
      placeholder="Password..."
      class="form-control"
    />
    <span class="text-danger"></span>
  </div>
  

  <button class="btn btn-success">Lưu</button>
  <a href="/admin" class="btn btn-danger">Hủy</a>
</form>
