<!-- Link thư viện Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="container mt-5">
    <canvas id="myChart" width="400" height="400"></canvas>
  </div>

<!-- Link thư viện Chart.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
<script>
    const data1 = '<%-data%>'
    const months = [
      "Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4",
      "Tháng 5", "Tháng 6", "Tháng 7", "Tháng 8",
      "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"
    ];
    // Dữ liệu biểu đồ (Ví dụ: biểu đồ dạng đường)
    var data = {
      labels:  months,
      datasets: [{
        label: "Lớp học",
        data: data1.split(","),
        borderColor: "rgba(75,192,192,1)",
        fill: true
        
      }]
    };
  
    // Cấu hình biểu đồ
    var options = {
      responsive: true,
      maintainAspectRatio: false,
      scales: {
        x: [{
          grid: {
            display: false
          }
        }],
        y: {
                    ticks: {
                        precision: 0
                    }
                }
      }
    };
    // Khởi tạo biểu đồ
    var ctx = document.getElementById("myChart").getContext("2d");
    var myChart = new Chart(ctx, {
      type: 'line',
      data: data,
      options: options
    });
  </script>